{% extends "layout.html" %}

{%block l_content%}
<h1>{{current_user.name}}</h1>
<h3>{{current_user.email}}</h3>
<h4>{{current_user.roles[0].name}}</h4>
<a href="/Usuario/logout" class="button is-danger is-pulled-right">Cerrar sesión</a>

<table class="table is-fullwidth">
    <thead>
      <tr>
        <th>Registro de actividad</th>
      </tr>
    </thead>
    <tbody>
    {% for n in range(25) %}
      <tr>
        <td>Log #{{n}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{%endblock%}