<div class="alert" id="alert">
    <div class="workspace">
        <div class="box">
            <h2 class="subtitle">Eliminar Elemento</h2>
            <div class="field is-grouped">
              
            </div>
            <form method="POST" action="{{delete_route}}" id="form">
                <p class="has-text-weight-bold" id="text">¿Estás seguro que deseas eliminar este elemento?</p>
                <button id="submit" class="button is-orange" type="submit">Eliminar</button>
                <a class="button is-danger" onclick="location.reload(); return false">Cancelar</a>
            </form>
          </div>
    </div>
    </div>
</div>

<script>
    const noti = document.getElementById('alert')
    const form = document.getElementById('form')
    const text = document.getElementById('text')
    const del_route = '{{delete_route}}'
    function activate(){
        noti.classList.add('alert-active')
      }

      function activatewid(id){
        noti.classList.add('alert-active');
        form.action = (del_route + id);
        }
</script>