<footer class="footer zamofooter has-background-black">
    <div class="container">
      <div class="columns">
        <div class="column">
          <h3 class="has-text-white">Links</h3>
          <ul style="list-style: none;">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Nosotros</a></li>
            <li><a href="#">Productos</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
        <div class="column">
          <h3 class="has-text-white">Sobre nosotros</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris gravida, odio vel ultrices sollicitudin, quam arcu condimentum augue, id hendrerit orci ex in risus.</p>
          <p>&copy; 2023 Todos los derechos reservados.</p>
        </div>
        <div class="column">
          <h3 class="has-text-white">Redes sociales</h3>
          <ul style="list-style: none;">
            <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
            <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
            <li><a href="#"><i class="fab fa-whatsapp"></i> WhatsApp</a></li>
            <li><a href="#"><i class="fab fa-tiktok"></i> TikTok</a></li>
            <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  