{% extends "layout.html" %}

{%block normal_content%}
<section class="section" style="margin-top: 3rem;">
    <div class="container">
      <h2 class="title is-2">Acerca de nosotros</h2>
      <h3 class="subtitle is-4">Dulcería Zamoranos</h3>
      <p>Zamoranos es una empresa dedicada a preservar y difundir la cultura gastronómica de zonas rurales de nuestro país, a través de la producción y venta de dulces tradicionales elaborados con ingredientes de la más alta calidad.<br>

        En Zamoranos creemos en la importancia de valorar y proteger nuestras raíces culinarias, por lo que trabajamos de manera responsable y sostenible, en estrecha colaboración con productores locales y comunidades rurales.<br>
        
        Nuestro compromiso con la calidad nos ha llevado a implementar procesos de producción rigurosos y a seleccionar cuidadosamente cada uno de los ingredientes que utilizamos en la elaboración de nuestros productos. Todo esto con el objetivo de ofrecer a nuestros clientes dulces de la más alta calidad, con el sabor auténtico de la tradición.<br>
        
        En Zamoranos estamos convencidos de que la cultura gastronómica es un elemento fundamental de la identidad de un país, y nos enorgullece poder contribuir a su preservación y difusión.</p>
      <hr>
      <div class="columns">
        <div class="column is-6">
          <div class="hero is-info">
            <div class="hero-body">
              <div class="columns">
                <div class="column is-6">
                  <figure class="image is-square">
                    <img src="../static/img/dulce2.jpg" alt="Imagen de la empresa" style="object-fit: cover;">
                  </figure>
                </div>
                <div class="column is-6">
                  <h3 class="title is-3">Misión</h3>
                  <p>En Zamoranos nos dedicamos a preservar y difundir la cultura gastronómica de zonas rurales de nuestro país, a través de la producción y venta de dulces tradicionales elaborados con ingredientes de la más alta calidad. Nuestro objetivo es llevar estos sabores auténticos a cada rincón de México y del mundo, para que cada persona pueda conocer y disfrutar de la riqueza de nuestra tradición culinaria.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column is-6">
          <div class="hero is-warning">
            <div class="hero-body">
              <div class="columns">
                <div class="column is-6">
                  <figure class="image is-square">
                    <img src="../static/img/dulce3.jpg" alt="Imagen de la empresa" style="object-fit: cover;">
                  </figure>
                </div>
                <div class="column is-6">
                  <h3 class="title is-3">Visión</h3>
                  <p>Nuestra visión es ser la empresa líder en la producción y venta de dulces tradicionales de alta calidad, reconocida por su compromiso con la preservación de la cultura gastronómica de zonas rurales de México, y por su contribución al desarrollo sostenible de las comunidades locales.</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="columns">
        <div class="column">
          <div class="hero is-link">
            <div class="hero-body">
              <div class="columns">
                <div class="column is-6">
                  <figure class="image is-square">
                    <img src="../static/img/dulce1.jpg" alt="Imagen de la empresa" style="object-fit: cover;">
                  </figure>
                </div>
                <div class="column is-6">
                  <h3 class="title is-3">Valores</h3>
                  <p>En Zamoranos nos regimos por los siguientes valores:</p>
                  <ul>
                    <li><strong>Respeto:</strong><br> Respetamos a nuestros clientes, proveedores, colaboradores y comunidades locales, y trabajamos con ellos en un ambiente de armonía y colaboración.</li>
                    <li><strong>Responsabilidad:</strong><br> Somos responsables con el medio ambiente y con las comunidades en las que operamos, y buscamos siempre tener un impacto positivo en ellas.</li>
                    <li><strong>Calidad:</strong><br> Buscamos siempre la excelencia en nuestros procesos de producción, para ofrecer a nuestros clientes productos de la más alta calidad.</li>
                    <li><strong>Pasión:</strong><br> Somos apasionados de nuestra cultura gastronómica y de nuestro trabajo, y eso se refleja en la calidad y sabor de nuestros productos.</li>
                    <li><strong>Innovación:</strong><br> Buscamos constantemente nuevas formas de mejorar y evolucionar, tanto en nuestros procesos de producción como en la oferta de productos que ponemos a disposición de nuestros clientes.</li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{%include 'footer.html'%}
{%endblock%}
