{% extends "layout.html" %}

{%block l_content%}
<div class="card">
    <div class="card-content">
      <p class="title is-4">Pedido #1</p>
      <p class="subtitle is-6">Para: nombre</p>
      <p>Dirección: Dirección de ejemplo #123</p>
      <hr>
      <div class="is-flex is-align-items-center">
        <h3 class="mr-auto">Estado: Pendiente</h3>
        <div class="buttons">
          <a class="has-text-orange ml-auto"><span class="material-icons g-icon g-is-3">arrow_forward_ios</span></a>
        </div>
      </div>
    </div>
  </div>
{%endblock%}