{% extends "layout.html" %}

{%block l_content%}
<section class="section card">
    <div class="container">
      <h1 class="title">Pedido #31 - Ermelindo Bustamante</h1>
      <hr>
      <div class="">
          <p>Choongos Zamoranos: 5pz</p>
          <p>Morenitos: 5pz</p>
          <p>Dulce de leche: 5pz</p>
          <p>Gaznate: 5pz</p>
          <h3>Total:</h3> <h2>$150.0</h2>
          <hr>
      </div>
      <h2 class="subtitle">Estado del pedido:</h2>
      <div class="buttons has-addons">
        <button class="button is-warning is-selected">Pendiente</button>
        <button class="button ">Enviado</button>
        <button class="button ">Entregado</button>
        <button class="button ">Cancelado</button>
      </div>
    </div>
  </section>
{%endblock%}