{% extends "layout.html" %}

{%block l_content%}
<div class="columns">
    <div class="column is-9 section">
        <div class="container">
            <h1 class="title is-3">{{provider.nombre}}</h1>

            {% for ingredient in ingredients %}
            <div class="card" style="margin-bottom: 2em; padding: 1rem">
                    <p>
                        <strong>{{ingredient.nombre}}</strong>
                    </p> <hr>
                    <div class="columns">
                        <p class="column is-4">Inventario: {{ingredient.inventario[0].stock}} pz </p>
                        <p class="column is-4">Precio ${{ingredient.precio}}</p>
                    </div>
            </div>
            {% endfor %}

        </div>
    </div>
    
    <div class="column is-3" style="padding-top: 3rem; min-height: 70vh">
        <div style="text-align: center;">
            <img class="" src="{{provider.url_photo}}" alt="Imagen de la empresa">
        </div>
        <h1 class="title is-3">{{provider.nombre}}</h1>
        <hr>
        <p class="subtitle is-5">{{provider.descripcion}}</p>
        <p class="subtitle is-5">Dirigido por: {{provider.jefe}}</p>
        <p class="subtitle is-5">Telefono: {{provider.telefono}}</p>
        <p class="subtitle is-5">Dirección: {{provider.direccion}}</p>
    </div>
</div>

<a class="button is-green is-circle is-large is-add-button" href="/EditProveedor/{{provider.id}}"><span class="material-icons g-icon g-is-3">edit</span></a>


{%endblock%}
